.menu {
  
  &__list {
    display: flex;
    padding-top: 10px;
    margin: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 0 12px;
    cursor: pointer;

    &-text {
      margin-left: 7px;
    }
  }
}
