.search {
  padding: 0 4px;
  margin-bottom: 6px;

  &__input {
    width: 100%;
	height: 40px;
	padding: 4px;
    border-radius: 3px;
    border: 1px solid #645d5d30;
    box-shadow: 2px 1px 6px #0000002b;
  }
}
